@font-face {
    font-family: "Geo Sans Light";
    src: url("../fonts/GeosansLight.ttf");
}
@font-face{
    font-family: Mohave;
    url("../fonts/Mohave.otf");
}
a{
    color: black;
    text-decoration: none;
}
.slide p{
    font-size: 1em;
    color: white;
    font-family: "Geo Sans Light", Helvetica, sans-serif;
    text-align: left;
    background-color: rgba(35, 173, 173, .75);
    padding-left: 10px;
}
.fp-controlArrow{
        visibility: hidden;
}
.fp-slidesNav{
    background-color: white;
}
.section{
    background-color: #3CB371;
}
#quiz div{
    border: none;
}
#quiz{
    background-color: rgba(35, 173, 173, .25);
    height: 100%;
    max-width: 100%;
    overflow: scroll;   
}
#quiz ul{
    list-style-type: none;
    padding-left: 10px;
}
#intro-slide, #slide-one, #slide-two, #slide-three{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#intro-slide{
    font-family: Mohave, Helvetica, sans-serif;
    background-image: url("../img/background.jpg");
    color: #d7d7d7;
    font-size: 2em;
    text-align: center;
    text-decoration: bold;
}
#slide-one{
    background-image: url("../img/slide-1.jpg");
}
#slide-two{
    background-image: url("../img/slide-2.jpg");
}
#slide-three{
    background-image: url("../img/slide-3.jpg");
}
#slide-four{
     background-image: url("../img/slide-4.jpg");
     background-size: 100% 100%;
}
#slide-five{
     background-image: url("../img/slide-5.jpg");
     background-size: 100% 100%;
}
#fp-nav ul{
    margin-bottom: 20em;
}
#credits{
    font-size: 1em;
    color: white;
    font-family: "Geo Sans Light", Helvetica, sans-serif;
}
#credits p{
    padding-left: 10px;
}
#credits h3{
    padding-left: 5px;
}
.fp-tooltip{
    background-color: rgba(35, 173, 173, .85);
}
#fp-nav ul li .fp-tooltip{
    opacity: 1;
    width: 50px;
}
#fp-nav ul{
        margin-bottom: 18em;
}
@media screen and (min-width: 740px){
    .fp-controlArrow{
        visibility: visible;
    }
    .slide p{
        text-align: center;
        padding-right: 70px;
        padding-left: 70px;
        font-size: 2em;
    }
    #fp-nav ul li .fp-tooltip{
        opacity: 0;
        width: 0;
    }
    #intro-slide{
        text-align: center;
        font-size: 4em;
    }
    #intro-slide, #slide-one, #slide-two, #slide-three, #slide-four, #slide-five{
        background-size: cover;
    }
    #credits{
        font-size: 2em;
    }
}
