h3{
    color: white;
    text-align: center;
    font-size: 1.5em;
}
.info-slide{ 
    background: center no-repeat url("../img/background.jpg");
    background-size: cover;
}
.content-wrap{
    background-color: #23adad;
    margin: 20px;
}
.slide-text{
    font-family: "Myriad Pro", sans-serif;
     padding: 20px;
     color: #f0f0f0;
}
.slide-pics{
     margin: 20px;
     max-height: 650px;
     max-width: 500px;
     border: ridge 5px white;
}
@media screen and (min-width: 769px){
.slide-pics{
    width: 30%;
    height: 30%;
    float: right;
}
.slide-text{
    font-size: 3em;
}
}
@media screen and (max-width: 320px){
    .slide-pics{
        width: 50%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .slide-text{
        font-size: .75em;
    }
    .slick-dots li button{
        visibility: hidden;
    }
}
@media screen and (min-width: 321px) and (max-width: 768px){
    .slide-pics{
        width: 35%;
        height: 35%;
        float: right;
    }
    .slide-text{
        font-size: 1em;
    }
}
.slider-main div{
    border-radius: 10px;
    border: ridge 1px brown;
}
.slick-slide.slick-current.slick-active{
    outline: none;
}
.slider-nav img{
    margin: 20px;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 200px;
}
.slider-nav div{
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
}
.slick-slider{
    margin-right: 50px;
    margin-left: 50px;
}
.credits{
    background-color: #23adad;
}
#quiz div{
    border: none;
}
#quiz{
    background-color: #23adad;
}